body {
    background-color: black;
    color: white;
}


@media (min-width: 1000px) {
    body {
        background-color: green;
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    body {
        background-color: purple;
    }
}

@media (max-width: 600px) {
    Body {
        background-color: red;
    }
    h1 {
        font-size: 15px;
        color: black
    }
}

