@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #F2EBDC, #D9BBA0);

}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(146, 126, 108, 0.61);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #400B15;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(37, 6, 12, 0.644);
}

h2 {
    color: #26030A;
}

p {
    text-align: justify;
}