@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font-padrao: arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive'
}


body {
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, white, black);
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 0px 0px 1px red;
}

header > p {
    font-family: var(--font-padrao);
    max-width: 500px;
    font-size:  1.5em;
    margin: auto;
    color: white;
    text-shadow: 1px 1px 2px black

}

nav {
    background-color: black;
    padding: 8px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-family: var(--font-padrao);
    font-weight: bolder;
    padding: 10px;
    transition-duration: 0.5s;
    
}

nav a:hover {
    background-color: rgb(230, 230, 230);
    color: black;
    border-radius: 2px;
}

main {
    background-color: rgb(230, 230, 230);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267)
}

main h1 {
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
    

}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.2em;
    background-image: linear-gradient(to right, red, transparent);
    text-indent: 8px;
}

main img {
    width: 100%;
}

.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}
.video {
    background-color: black;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
 .video > iframe {
     position: absolute;
     top: 5%;
     left: 5%;
     width: 90%;
     height: 90%;
 }

main p {
    text-align: justify;
    text-indent: 2rem;
    line-height: 30px;
    font-size: 1em;
    margin: 15px 0px;
}

main a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 0, 0, 0.829);
    padding: 2px 5px;
}

main a:hover {
    background-color: black;
    color: white;

}

.externo::after {
    content: '\00A0\1F517';
}

strong {
    font-weight: bold;
    color: red;
}
aside {
    background-color: rgba(73, 73, 73, 0.342);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);

}

aside > h3 {
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-family: var(--font-padrao);
    font-weight: bolder;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
    padding: 10px;
    
}

aside p {
    padding: 5px 10px;
    
}

aside > ul {
    list-style-position: inside;
    padding: 0px 20px;
    columns: 2;
}

footer {
    background-color: black;
    color: white;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    font-weight: bolder;
    
}

footer p:hover {
    text-decoration: underline;
}